.medium {
	height: 40px;
	width: 40px;
}

.small {
	height: 33.33px;
	width: 33.33px;
}

.link {
	display: flex;
	align-items: start;
	gap: 8px;
	transition: 0.5s;
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	opacity: 60%;
}

.icon {
	height: 100%;
}
