@import '../../../sass/fonts/fonts.scss';

.mainContainer {
	font-family: 'PT-Root-UI-VF';
	color: var(--color-text-primary);
	display: flex;
	flex-direction: column;
	gap: 32px;
	min-width: 312px;
	container: sidebar / inline-size;
}

.firstContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.secondContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@container (width < 425px) {
	.buttonContainer {
		display: flex;
		flex-direction: column;
	}
}

.title {
	font-weight: var(--font-weigth-bold);
	font-size: var(--font-size-xxl);
	line-height: var(--font-line-xxl);
	margin: 0;
}

.text {
	margin: 0;
	font-weight: var(--font-weigth-medium);
	font-size: var(--font-size-s);
	line-height: var(--font-line-s);
}

.list {
	padding-left: 1em;
	margin: 0;
	font-weight: var(--font-weigth-medium);
	font-size: var(--font-size-s);
	line-height: var(--font-line-s);
}

.list li::marker {
	color: #72d0dc;
}
