.select {
	position: relative;
	display: inline-block;
	width: 100%;
}

.label {
	color: var(--color-text-secondary-light);
	font: var(--font-xxxs-medium);
	position: absolute;
	left: 16px;
	top: 8px;
	z-index: 2;
}

.selection {
	position: relative;
	border-radius: 6px;
	background: var(--light-secondary);
	z-index: 1;
	gap: 16px;
	display: flex;
	flex-wrap: wrap;
	min-height: 40px;
	padding: 28px 52px 8px 12px;
	margin-block-end: 24px;

	&:hover {
		background: var(--color-bg-input-hover);
		cursor: pointer;
	}

	&:focus {
		background: var(--light-primary);
		border: 1px solid var(--color-text-nav-secondary);
		cursor: pointer;
	}
}

.placeholder {
	margin: 0;
	color: var(--color-text-secondary-light);
	text-overflow: ellipsis;
	white-space: nowrap;
	font: var(--font-s-medium);
	position: absolute;
	top: 12px;
	left: 16px;
}

.value {
	position: relative;
	display: inline-block;
	padding: 1.5px 22px 1.5px 4px;
	color: var(--dark-primary);
	font: var(--font-xxs-medium);

	&:hover {
		color: var(--error);
		cursor: pointer;
	}

	&:hover > .delete {
		background-image: url('../../../../assets/icons/icon_delete_red.svg');
	}

	&:active {
		color: var(--accent);
		cursor: pointer;
	}

	&:active > .delete {
		background-image: url('../../../../assets/icons/icon_delete_orange.svg');
	}
}

.delete {
	position: absolute;
	top: 1.5px;
	right: 4px;
	width: 16px;
	height: 16px;
	background-image: url('../../../../assets/icons/icon_delete_grey.svg');
}

.arrow {
	position: absolute;
	top: 12px;
	right: 12px;
}

.selectionCount {
	position: absolute;
	right: 12px;
	bottom: 8px;
	color: var(--color-text-secondary-light);
	text-align: right;
	font: var(--font-xxs-medium);
	margin: 0;
}

.numberText {
	font-family: var(--font-family-numbers) !important;
}

.options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 20;
	border-radius: 8px;
	background: var(--light-primary);
	box-shadow: 0px 4px 24px 0px rgba(0, 77, 95, 0.24);
	margin-top: -22px
}

.optionsTitleWrap {
	display: none;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 344px;
	margin-right: 12px;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background: var(--color-text-nav-secondary);
	}

	&::-webkit-scrollbar-track-piece:end {
		background: transparent;
		margin-bottom: 8px;
	}

	&::-webkit-scrollbar-track-piece:start {
		background: transparent;
		margin-top: 8px;
	}
}

.optionGroup {
	padding: 8px 0 8px 0;
}

.optionMultiplyTitle {
	margin: 0 0 0 16px;
	color: var(--dark-secondary);
	font: var(--font-s-bold);
	letter-spacing: 0.25px;
	position: relative;
}

.optionWrap {
	display: grid;
	justify-items: start;
	grid-column-gap: 32px;
	grid-template-columns: repeat(2, minmax(240px, 1fr));
	margin: 4px 0 4px 16px;
}

.expanded {
	max-height: none;
	overflow: visible;
}

.collapsed {
	max-height: 80px;
	overflow: hidden;
}

.option {
	padding: 8px 0px;
	cursor: pointer;
	display: flex;
	align-items: center;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background: var(--light-secondary);
	}
}

.checkboxText {
	margin: 0;
	color: var(--dark-secondary);
	font: var(--font-s-medium);
}

.multiplyLink {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 16px;

	&:hover {
		opacity: 0.6;
		cursor: pointer;
	}
}

.multiplyLinkText {
	color: var(--color-text-link);
	font: var(--font-xxs-medium);
	margin: 0;
}

.numberText {
	font-family: var(--font-family-numbers) !important;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.button {
	border-radius: 100px;
	border: 1px solid var(--color-text-nav-secondary);
	padding: 12px 24px;
	background-color: transparent;
	color: var(--dark-primary);
	text-align: center;
	font: var(--font-xxxs-bold);
	letter-spacing: 1px;
	text-transform: uppercase;
	display: flex;
	white-space: nowrap;

	&:hover {
		border: 1px solid var(--accent);
		color: var(--accent);
	}

	&:active {
		border: 1px solid var(--accent-light);
		color: var(--accent-light);
	}

	&:focus {
		border: 2px solid var(--color-text-secondary-light);
		color: var(--dark-primary);
	}
}

.buttonCountCircle {
	display: none;
}

.selectedList {
}

// Стили для мобильной версии multiple select с multiplyCategory='manySets'
@media screen and (max-width: 550px) {
	.options {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
	}

	.optionsTitleWrap {
		display: flex;
		margin: 32px 24px 0 24px;
		position: relative;
	}

	.optionsTitle {
		color: var(--dark-primary);
		font: var(--font-xl-bold);
		margin: 0;
	}

	.optionsSloseIcon {
		width: 24px;
		height: 24px;
		position: absolute;
		top: -12px;
		right: -12px;

		&:hover {
			cursor: pointer;
			opacity: 0.6;
		}
	}

	.scroll {
		max-height: 75vh;
		margin-right: 8px;

		&::-webkit-scrollbar {
			width: 2px;
		}

		&::-webkit-scrollbar-track-piece:end {
			margin-bottom: 0;
		}

		&::-webkit-scrollbar-track-piece:start {
			margin-top: 0;
		}
	}

	.optionTitle {
		margin: 0 14px 0 24px;
	}

	.optionTitleArrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 24px;

		&:hover {
			cursor: pointer;
			opacity: 0.6;
		}
	}

	.collapsed {
		max-height: 0;
		overflow: hidden;
	}

	.optionWrap {
		grid-template-columns: repeat(1, minmax(240px, 1fr));
		margin: 8px 14px 8px 24px;
		grid-row-gap: 8px;
	}

	.option {
		border-radius: 8px;
		border: 1px solid var(--color-text-nav-secondary);
		padding: 8px;
	}

	.multiplyLink {
		display: none;
	}

	.buttons {
		padding: 24px;
	}

	.buttonCountCircle {
		display: block;
		padding: 0px 6px;
		border-radius: 150px;
		background: var(--accent);
		margin-left: 8px;
	}

	.buttonCountCircleText {
		margin: 0;
		color: var(--light-primary);
		text-align: center;
		font: var(--font-xxxs-bold);
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
